*{
    margin: 0;
    padding: 0;
}
/*register styling */
#registerdata{
    
   background: linear-gradient( to  bottom right,rgb(8, 27, 12)65%,rgb(4, 145, 65)40%);
  
}
::placeholder{
    color: rgb(12, 210, 52);
}
#registerdata p{
    color: rgb(139, 140, 142);
}
#registerdata form {
    background-color: rgba(54, 52, 52, 0.457);
    padding: 10px;
    margin: 10px 0;
}
#registerdata input[type="submit"]{
    display: block;
}

/*packages styling ------------------------------------------------------------------------------*/
.star img{
    width: 20px;
}
#pakages{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
 }
 .packages1 {
   background-color: rgba(41, 41, 41, 0.521);
    width: 250px;
    padding: 20px;
    margin: 20px;
 }

 .packages1:hover{
    background-color: rgb(16, 85, 4);
    color: black;
 }
 .moreonpackages{
    color: aliceblue;
    margin: 10px 0;
 }
 .toptab{
    text-align: left;
    color: white;
 }
 .toppackage img,h1,h2{
    margin: 5px 0;
    color: rgb(161, 161, 161);
    text-transform:uppercase;
    font-family: 'Courier New', Courier, monospace;
 }
 .toppackage h2{
    font-size: 20px;
 }
 

/* responsive styling-------------------------------------------------------------------------------------------*/

@media (max-width:320px) {

}