*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
header{
    
   max-width: 900px;
   display: block;
   margin: 0 auto;
    background-image:url(imges/hed1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}
header p{
    color: wheat;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0;
    animation: title ;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes title {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
header h2{
margin-bottom:10vh ;
color: aqua;
}
h1 span{
    color: rgb(3, 232, 202);
}
header button{
    margin: 10px;
    padding: 8px 17px;
    color: white;
    border: 2px solid white;
    font-style: italic;
    background: transparent; 
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}
body{
    background-color: black;
    
}
@keyframes btn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.confes{
    border: 2px solid white;
    width: 250px;
    background-color: white;
    margin: 0 auto;
    display: block;
}
main{
    height: 100vh;
}
.top{
    display: flex;
    justify-content: space-between;
}
.img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.img img{
    width: 50px;
    border-radius: 50%;
    border: 2px solid green;
}
.nxt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img h5{
    margin: 5px;
}
.nxt img{
    width: 20px;
    margin: 4px;
}
#confes{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2fr;
    gap: 30px;
    overflow-x: auto;
    
    
}
.confes{
    margin: 10px;
    width: 90vw;
    
}
.confes p{
 text-align: center;
 margin: 10px;
 color: rgb(63, 37, 28);
}
h3{
    text-align: center;
    color: rgb(255, 248, 248);
}
h3 img{
    width: 20px;
    
}
section{
    margin-bottom: 20px;
    max-width: 900px;
}
/* about */
.about{
    border: 2px dotted rgb(0, 242, 255);
    color: antiquewhite;
    text-align: center;
    width: 250px;
    height: fit-content;
    display: block;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 3px 3px 30px rgb(6,170,179);
}
.about img{
    width: 100%;
}
.about video{
    width: 100%;
    margin-bottom: 30px;
}
.about button{
    padding: 5px 20px;
    margin: 20px;
    background-color: aqua;
    color:rgb(0, 0, 0);
    border: none;
    box-shadow: 0px 10px 20px aqua;
}
 fieldset{
        border: 1px dotted green;
        width: 300px;
        display: block;
        margin: 0 auto;
    }
    legend{
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    form input{
        display: block;
        margin: 10px;
        background-color: black;
        color: white;
        border: 1px solid aqua;
        text-align: center;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    input[type=submit]{
        padding: 7px 20px;
        border: 1px solid white;
        
    }
    nav{
        background-color: rgb(10, 10, 10);
        opacity: 0;
        width: 80vw;
        height: auto;
        position: fixed;
        top: 50px;
        left: 20px;
        right: 20px;
        z-index: 2;
        transition: 5s;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    li{
        list-style: none;
        text-align: center;
        margin: 10px;
        color: rgb(0, 238, 255);
        font-family: 'Courier New', Courier, monospace;
      
        width: 150px;
    }
    li a{
        color: rgb(0, 255, 255);
    }
 li:hover{
  border-bottom: 2px solid rgb(46, 198, 8);
 }
 .menu{
    background-color: white;
    height: auto;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
 }
 .menu img{
    width: 30px;
 }
 #close{
 width: 20px;
 display: block;
 margin: 0 auto;
 }
.active{
   opacity: 1;
}
/* a A*/
@media (min-width:556px) {
    .menu {
        display: none;
     }
     #close{
     display:none ;
     }
    header{
    
        width: 100%;
        background-image:url(imges/luis-vidal-FodEsaNZs48-unsplash.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;
        min-height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    
    }
    nav{
        display: block;
        background-color: rgb(90, 90, 90);
        width: 100%;
        height: 40px;
        height: auto;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 2;
        transition: 6s;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
    li{
        list-style: none;
        width: 100px;
        margin: 10px;
        color: rgb(9, 221, 218);
        font-family: 'Courier New', Courier, monospace;
    }
    a:hover{
       color: rgb(252, 252, 252);
       }
 
    #confes{
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content:center;
        align-items: center;
       
        
    }
    .nxt{
        display: none;
    }
    .confes{
        margin: 10px;
    }
    #about{
        display: block;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
       
        
    }
    .about{
        margin: 10px;
    }
    
   
}